In [14]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [2]:
df=pd.read_csv('toy_dataset.csv')
df

        Number    City  Gender  Age    Income Illness
0            1  Dallas    Male   41   40367.0      No
1            2  Dallas    Male   54   45084.0      No
2            3  Dallas    Male   42   52483.0      No
3            4  Dallas    Male   40   40941.0      No
4            5  Dallas    Male   46   50289.0      No
...        ...     ...     ...  ...       ...     ...
149995  149996  Austin    Male   48   93669.0      No
149996  149997  Austin    Male   25   96748.0      No
149997  149998  Austin    Male   26  111885.0      No
149998  149999  Austin    Male   25  111878.0      No
149999  150000  Austin  Female   37   87251.0      No

[150000 rows x 6 columns]

In [3]:
df=df.drop(['Number','Illness'],axis='columns')
df

          City  Gender  Age    Income
0       Dallas    Male   41   40367.0
1       Dallas    Male   54   45084.0
2       Dallas    Male   42   52483.0
3       Dallas    Male   40   40941.0
4       Dallas    Male   46   50289.0
...        ...     ...  ...       ...
149995  Austin    Male   48   93669.0
149996  Austin    Male   25   96748.0
149997  Austin    Male   26  111885.0
149998  Austin    Male   25  111878.0
149999  Austin  Female   37   87251.0

[150000 rows x 4 columns]

In [4]:
indep=df.drop('Income',axis='columns')
dep=df['Income']

In [5]:
indep

          City  Gender  Age
0       Dallas    Male   41
1       Dallas    Male   54
2       Dallas    Male   42
3       Dallas    Male   40
4       Dallas    Male   46
...        ...     ...  ...
149995  Austin    Male   48
149996  Austin    Male   25
149997  Austin    Male   26
149998  Austin    Male   25
149999  Austin  Female   37

[150000 rows x 3 columns]

In [6]:
dep

0          40367.0
1          45084.0
2          52483.0
3          40941.0
4          50289.0
            ...
149995     93669.0
149996     96748.0
149997    111885.0
149998    111878.0
149999     87251.0
Name: Income, Length: 150000, dtype: float64

In [16]:
reg1=LinearRegression()
rf=RandomForestClassifier()
l1=LabelEncoder()
l2=LabelEncoder()

In [8]:
indep['city']=l1.fit_transform(indep['City'])
indep['gender']=l2.fit_transform(indep['Gender'])
indep

          City  Gender  Age  city  gender
0       Dallas    Male   41     2       1
1       Dallas    Male   54     2       1
2       Dallas    Male   42     2       1
3       Dallas    Male   40     2       1
4       Dallas    Male   46     2       1
...        ...     ...  ...   ...     ...
149995  Austin    Male   48     0       1
149996  Austin    Male   25     0       1
149997  Austin    Male   26     0       1
149998  Austin    Male   25     0       1
149999  Austin  Female   37     0       0

[150000 rows x 5 columns]

In [9]:
indep=indep.drop(['City','Gender'],axis='columns')
indep

        Age  city  gender
0        41     2       1
1        54     2       1
2        42     2       1
3        40     2       1
4        46     2       1
...     ...   ...     ...
149995   48     0       1
149996   25     0       1
149997   26     0       1
149998   25     0       1
149999   37     0       0

[150000 rows x 3 columns]

In [10]:
xtr,xts,ytr,yts=train_test_split(indep,dep,train_size=0.85)

In [11]:
reg1.fit(xtr,ytr)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:
reg1.score(xtr,ytr)

0.09427758826915977

In [17]:
rf.fit(xtr,ytr)

MemoryError: could not allocate 1082195968 bytes